.upvote.icon-btn {
  padding-right: 1em;
}
.count {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  font-size: 16px;
}
.description {
  margin-bottom: .5rem;
}
.new {
  display: inline-block;
  text-transform: uppercase;
  color: #ff9900;
}
.volunteer-container {
  border-radius: 25px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  vertical-align: top;
  margin-top: 2px;

  img {
    height: 100%;
    width: 100%;
  }
}
.talk-date {
  vertical-align: top;
  display: inline-block;
  margin-top: 11px;
}
.cancel.icon-btn {
  vertical-align: top;
  margin: 6px 0 0 .5em;

  i {
    font-size: 26px;
  }
}
.meetup-dates-container {
  display: inline-block;
  height: 20px;
  padding: 10px 0;
  position: relative;
  top: -5px;
}
